


.App  {
  text-align: center;
  
}
body{
  background: linear-gradient(to right, hotpink, pink, hotpink);
}
.title{
  margin-top: 60px; 
  display: inline-block;
  color: purple;
  padding: 5px;
  font-size: 100px;
  
}
p{
  font-size: 50px;
}

.cardDiv{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 430px;
  
}

/* Countdown css */
.neal-countdown{
  font-size: 50px;
}
